.changeTimeFrame {
  width: fit-content;
  height: fit-content;
  background-color: gray;
  margin: 15px;
  padding: 1px;
  justify-self: end;
}
.changeTimeFrame > div > button {
  margin-right: 2px;
  border: 1px gray solid;
  padding: 3px;
  border-radius: 4px;
  background-color: gray;
}
.changeTimeFrame > div > button:hover {
  background-color: #171717;
}
#buttonActive {
  background-color: #171717; /* Màu khi button được chọn */
  color: white;
}
